<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body>

    <form id="word-form" class="word-form" action="">
      <button type="button" id="trash-button" class="trash-button">🗑</button>
      <input type="text" aria-label="Write here" placeholder="Write here" id="word-input" class="word-input">
      <button type="submit" id="add-button" class="add-button">▶️</button>
    </form>

    <script src="scripts/interact.min.js"></script>
    <!-- <script src="scripts/draggabilly.pkgd.min.js"></script> -->
    <script src="scripts/main.js"></script>
  </body>
</html>
